[Unit]
Description=Volume API Plugin for docker
Documentation=https://github.com/springpath/springpath-docker-plugin
After=network.target
Requires=docker.service

[Service]
ExecStart=/usr/bin/springpath-docker-plugin
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
